{% extends "base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}

{% if user_form.errors %}
<div class="alert alert-danger">
    {{ user_form.errors }}
</div>
{% endif %}

<div class="form-content">
    <div>Hello, user {{ user_email }}</div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group">
                <label>Please enter new username:</label>
                {{ user_form.username }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label>New Password(Optional):</label>
                {{ user_form.password1 }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label>Confirm New Password(Optional):</label>
                {{ user_form.password2 }}
            </div>
        </div>
        <button type="submit" class="btn">Save Changes</button>
        <button type="reset" class="btn">Reset</button>
    </form>
</div>

{% endblock content %}


